In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("PLAY_DATA_FULL.csv")

In [6]:
df['NumViews'] = df['NumViews'].str.strip('ğŸ‘ï¸ views:')
df['Date_of_leak'] = df['Date_of_leak'].str.strip('publication date: ')
df['Date_of_attack'] = df['Date_of_attack'].str.strip('added: ')

In [26]:
# opening the file in read mode 
my_file = open("HQ List.txt", "r")
  
# reading the file 
data = my_file.read() 
  
# replacing end of line('/n') with ' ' and 
# splitting the text it further when '.' is seen. 
data_into_list = data.replace('\n', ' ').split("|") 
  
# printing the data 
print(data_into_list) 
df['HQ'] = data_into_list
my_file.close

["'Walnut Creek, CA'", " 'Aberdeen, Aberdeenshire'", " 'Thomasville, Georgia'", " 'Schwechat, NiederÃƒÂ¶sterreich'", " 'Basildon, Essex'", "  'San Francisco, CA'", ' nan', " 'Stavanger'", " 'Sabae City, Fukui Pref.'", " 'Dallas, Texas'", " 'BRACKMILLS'", " 'Wilmington, Delaware'", "  'Marysville, Ohio'", ' nan', " 'Milton Keynes, Buckinghamshire' ", "'Dallas, Texas'", " 'San Jose, CA'", " 'Beesd, Gelderland'", " 'San Francisco, CA'", " 'Kernersville, North Carolina'", "  'Bellevue, Idaho'", ' nan', " 'Chicago, IL'", " 'Steinach, Deutschland'", " 'Singapore, Singapore'", " 'Fort Wayne, IN'", " 'Cambridge, Massachusetts'", "  'Brussels, Belgium'", " 'Manchester, New Hampshire' ", ' nan', " 'Los Angeles, California'", " 'Houma, Louisiana'", "  'RUISLIP'", " 'Karlsruhe, Baden-WÃƒÂ¼rttemberg'", " 'New York, NY'", " 'London'", " Ã¢â‚¬ËœSalisbury'", " 'London, United Kingdom'", "  'Brooklyn, New York'", " 'Milan'", " 'Bakersfield, California'", " 'Santa Ana, California'", ' nan', " Ã¢â‚¬ËœMelbourne, Victoria'", ' nan', " Ã¢â‚¬ËœVienna, VA'", " Ã¢â‚¬ËœLiverpool'", ' nan', " Ã¢â‚¬ËœAnchorage, Alaska'", ' nan', ' nan', " Ã¢â‚¬ËœZurich, Switzerland'", ' nan', ' nan', " Ã¢â‚¬ËœWuppertal, North Rhine-Westphalia'", ' nan', " Ã¢â‚¬ËœLenexa, Kansas'", ' nan', " Ã¢â‚¬ËœSyracuse, New York'", " Ã¢â‚¬ËœMansfield, TX'", " Ã¢â‚¬ËœJackson, NJ'", ' nan', " Ã¢â‚¬ËœRound Rock, Texas'", " Ã¢â‚¬ËœCossato, (BI) - ITALY'", " Ã¢â‚¬ËœLogansport, IN'", " Ã¢â‚¬ËœKissimmee, FL'", ' nan', " Ã¢â‚¬ËœSt.Louis, MO'", " Ã¢â‚¬ËœGranite Bay, California'", " Ã¢â‚¬ËœNorth Brunswick, NJ'", " Ã¢â‚¬ËœMcMinnville, Oregon'", " Ã¢â‚¬ËœLondon, London'", " Ã¢â‚¬ËœHerndon, VA'", " Ã¢â‚¬ËœSan Jose, CA'", " Ã¢â‚¬ËœMemphis, TN'", " Ã¢â‚¬ËœToronto, Ontario'", " Ã¢â‚¬ËœWarsaw, Poland'", ' nan', ' nan', " Ã¢â‚¬ËœDallas, Texas'", ' nan', " Ã¢â‚¬ËœMarcoussis, France'", " Ã¢â‚¬ËœCherry Hill, NJ'", " Ã¢â‚¬ËœPraha, HlavnÃƒ\xad mÃ„â€ºsto Praha'", " Ã¢â‚¬ËœTucson, Arizona'", " Ã¢â‚¬ËœHouston, Texas'", ' nan', " Ã¢â‚¬ËœSouthfield, Michigan'", " Ã¢â‚¬ËœISSY LES MOULINEAUX'", ' nan', ' nan', " Ã¢â‚¬ËœCLICHY, HAUTS DE SEINE'", " Ã¢â‚¬ËœDubai'", " Ã¢â‚¬ËœSchaumburg, USA'", ' nan', " Ã¢â‚¬ËœPendik, Ã„Â°stanbul'", " Ã¢â‚¬ËœBeverwijk, Noord-Holland'", " Ã¢â‚¬ËœAmherst, NY'", " Ã¢â‚¬ËœSteyr, OberÃƒÂ¶sterreich'", " Ã¢â‚¬ËœPrague 4'", " Ã¢â‚¬ËœWhitecourt, Alberta'", ' nan', " Ã¢â‚¬ËœThurso, QC'", " Ã¢â‚¬ËœAlbacete, Albacete'", " Ã¢â‚¬ËœWoodbridge, ON'", ' nan', " Ã¢â‚¬ËœVidor, Texas'", " Ã¢â‚¬ËœDÃƒÂ¤nischenhagen, Schleswig-Holstein'", " Ã¢â‚¬ËœMonterrey, Nuevo LeÃƒÂ³n'", " Ã¢â‚¬ËœKingston'", ' nan', ' nan', " Ã¢â‚¬ËœSanta Cruz, California'", ' nan', " Ã¢â‚¬ËœSonnenbÃƒÂ¼hl, Deutschland'", ' nan', " Ã¢â‚¬ËœWaterbury, Connecticut'", " Ã¢â‚¬ËœBerlin, Berlin'", ' nan', " Ã¢â‚¬ËœParis'", " Ã¢â‚¬ËœDallas, Texas'", ' nan', ' nan', " Ã¢â‚¬ËœStockholm, Stockholm County'", " Ã¢â‚¬ËœLowell, Massachusetts'", " Ã¢â‚¬ËœSingapore'", ' nan', ' nan', " Ã¢â‚¬ËœCHOLET'", " Ã¢â‚¬ËœHalmstad'", ' nan', " Ã¢â‚¬ËœRome'", " Ã¢â‚¬Ëœsingapore, Singapore'", " Ã¢â‚¬ËœSydney, NSW'", " Ã¢â‚¬ËœBydgoszcz'", ' nan', ' nan', " Ã¢â‚¬ËœAntwerpen'", ' nan', " Ã¢â‚¬ËœCalgary, Alberta'", ' nan', " Ã¢â‚¬ËœHindley Green, England'", " Ã¢â‚¬ËœMunich'", ' nan', " Ã¢â‚¬ËœAlbany, New York'", ' nan', " Ã¢â‚¬ËœToronto, Ontario'", " Ã¢â‚¬ËœMidview City, Singapore'", " Ã¢â‚¬ËœGodalming'", " Ã¢â‚¬ËœWashington, DC'", " Ã¢â‚¬ËœMiami Lakes, Florida'", " Ã¢â‚¬ËœNorwich, Norfolk'", ' nan', " Ã¢â‚¬ËœNorthbrook, IL'", ' nan', ' nan', ' nan', " Ã¢â‚¬ËœMaassluis, South Holland'", " Ã¢â‚¬ËœFeltham, MIddx'", " Ã¢â‚¬ËœMiami, FL'", ' nan', ' nan', " Ã¢â‚¬ËœOakland, California'", " Ã¢â‚¬ËœWolfsburg'", ' nan', ' nan', " Ã¢â‚¬ËœBenevento, Italy'", " Ã¢â‚¬ËœSingapore, Singapore'", " Ã¢â‚¬ËœBeblenheim, Grand Est'", " Ã¢â‚¬ËœPrague'", " Ã¢â‚¬ËœGlasgow'", " Ã¢â‚¬ËœDayton, OH'", " Ã¢â‚¬ËœLondon, Greater London'", " Ã¢â‚¬ËœUtica, ny'", " Ã¢â‚¬ËœDonsÃƒÂ¶'", ' nan', ' nan', " Ã¢â‚¬ËœSingapore , Singapore'", " Ã¢â‚¬ËœDayton, Ohio' ", 'nan ']

In [24]:
df.to_csv('PlayNews_2.csv')

In [25]:
df.columns

Index(['Unnamed: 0', 'Company_Name', 'Date_of_leak', 'Date_of_attack',
       'Company_URL', 'Country1', 'NumViews', 'Industry_Type', 'Data_Type',
       'Notes', 'company_urls2', 'countries', 'Country_2', 'industry_2', 'HQ'],
      dtype='object')