In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("PLAY_DATA_FULL.csv")

In [6]:
df['NumViews'] = df['NumViews'].str.strip('👁️ views:')
df['Date_of_leak'] = df['Date_of_leak'].str.strip('publication date: ')
df['Date_of_attack'] = df['Date_of_attack'].str.strip('added: ')

In [26]:
# opening the file in read mode 
my_file = open("HQ List.txt", "r")
  
# reading the file 
data = my_file.read() 
  
# replacing end of line('/n') with ' ' and 
# splitting the text it further when '.' is seen. 
data_into_list = data.replace('\n', ' ').split("|") 
  
# printing the data 
print(data_into_list) 
df['HQ'] = data_into_list
my_file.close

["'Walnut Creek, CA'", " 'Aberdeen, Aberdeenshire'", " 'Thomasville, Georgia'", " 'Schwechat, NiederÃ¶sterreich'", " 'Basildon, Essex'", "  'San Francisco, CA'", ' nan', " 'Stavanger'", " 'Sabae City, Fukui Pref.'", " 'Dallas, Texas'", " 'BRACKMILLS'", " 'Wilmington, Delaware'", "  'Marysville, Ohio'", ' nan', " 'Milton Keynes, Buckinghamshire' ", "'Dallas, Texas'", " 'San Jose, CA'", " 'Beesd, Gelderland'", " 'San Francisco, CA'", " 'Kernersville, North Carolina'", "  'Bellevue, Idaho'", ' nan', " 'Chicago, IL'", " 'Steinach, Deutschland'", " 'Singapore, Singapore'", " 'Fort Wayne, IN'", " 'Cambridge, Massachusetts'", "  'Brussels, Belgium'", " 'Manchester, New Hampshire' ", ' nan', " 'Los Angeles, California'", " 'Houma, Louisiana'", "  'RUISLIP'", " 'Karlsruhe, Baden-WÃ¼rttemberg'", " 'New York, NY'", " 'London'", " â€˜Salisbury'", " 'London, United Kingdom'", "  'Brooklyn, New York'", " 'Milan'", " 'Bakersfield, California'", " 'Santa Ana, California'", ' nan', " â€˜Melbourne, Victoria'", ' nan', " â€˜Vienna, VA'", " â€˜Liverpool'", ' nan', " â€˜Anchorage, Alaska'", ' nan', ' nan', " â€˜Zurich, Switzerland'", ' nan', ' nan', " â€˜Wuppertal, North Rhine-Westphalia'", ' nan', " â€˜Lenexa, Kansas'", ' nan', " â€˜Syracuse, New York'", " â€˜Mansfield, TX'", " â€˜Jackson, NJ'", ' nan', " â€˜Round Rock, Texas'", " â€˜Cossato, (BI) - ITALY'", " â€˜Logansport, IN'", " â€˜Kissimmee, FL'", ' nan', " â€˜St.Louis, MO'", " â€˜Granite Bay, California'", " â€˜North Brunswick, NJ'", " â€˜McMinnville, Oregon'", " â€˜London, London'", " â€˜Herndon, VA'", " â€˜San Jose, CA'", " â€˜Memphis, TN'", " â€˜Toronto, Ontario'", " â€˜Warsaw, Poland'", ' nan', ' nan', " â€˜Dallas, Texas'", ' nan', " â€˜Marcoussis, France'", " â€˜Cherry Hill, NJ'", " â€˜Praha, HlavnÃ\xad mÄ›sto Praha'", " â€˜Tucson, Arizona'", " â€˜Houston, Texas'", ' nan', " â€˜Southfield, Michigan'", " â€˜ISSY LES MOULINEAUX'", ' nan', ' nan', " â€˜CLICHY, HAUTS DE SEINE'", " â€˜Dubai'", " â€˜Schaumburg, USA'", ' nan', " â€˜Pendik, Ä°stanbul'", " â€˜Beverwijk, Noord-Holland'", " â€˜Amherst, NY'", " â€˜Steyr, OberÃ¶sterreich'", " â€˜Prague 4'", " â€˜Whitecourt, Alberta'", ' nan', " â€˜Thurso, QC'", " â€˜Albacete, Albacete'", " â€˜Woodbridge, ON'", ' nan', " â€˜Vidor, Texas'", " â€˜DÃ¤nischenhagen, Schleswig-Holstein'", " â€˜Monterrey, Nuevo LeÃ³n'", " â€˜Kingston'", ' nan', ' nan', " â€˜Santa Cruz, California'", ' nan', " â€˜SonnenbÃ¼hl, Deutschland'", ' nan', " â€˜Waterbury, Connecticut'", " â€˜Berlin, Berlin'", ' nan', " â€˜Paris'", " â€˜Dallas, Texas'", ' nan', ' nan', " â€˜Stockholm, Stockholm County'", " â€˜Lowell, Massachusetts'", " â€˜Singapore'", ' nan', ' nan', " â€˜CHOLET'", " â€˜Halmstad'", ' nan', " â€˜Rome'", " â€˜singapore, Singapore'", " â€˜Sydney, NSW'", " â€˜Bydgoszcz'", ' nan', ' nan', " â€˜Antwerpen'", ' nan', " â€˜Calgary, Alberta'", ' nan', " â€˜Hindley Green, England'", " â€˜Munich'", ' nan', " â€˜Albany, New York'", ' nan', " â€˜Toronto, Ontario'", " â€˜Midview City, Singapore'", " â€˜Godalming'", " â€˜Washington, DC'", " â€˜Miami Lakes, Florida'", " â€˜Norwich, Norfolk'", ' nan', " â€˜Northbrook, IL'", ' nan', ' nan', ' nan', " â€˜Maassluis, South Holland'", " â€˜Feltham, MIddx'", " â€˜Miami, FL'", ' nan', ' nan', " â€˜Oakland, California'", " â€˜Wolfsburg'", ' nan', ' nan', " â€˜Benevento, Italy'", " â€˜Singapore, Singapore'", " â€˜Beblenheim, Grand Est'", " â€˜Prague'", " â€˜Glasgow'", " â€˜Dayton, OH'", " â€˜London, Greater London'", " â€˜Utica, ny'", " â€˜DonsÃ¶'", ' nan', ' nan', " â€˜Singapore , Singapore'", " â€˜Dayton, Ohio' ", 'nan ']

In [24]:
df.to_csv('PlayNews_2.csv')

In [25]:
df.columns

Index(['Unnamed: 0', 'Company_Name', 'Date_of_leak', 'Date_of_attack',
       'Company_URL', 'Country1', 'NumViews', 'Industry_Type', 'Data_Type',
       'Notes', 'company_urls2', 'countries', 'Country_2', 'industry_2', 'HQ'],
      dtype='object')